
.animated {
	-webkit-animation-duration: 1.4s;
	animation-duration: 1.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@
-webkit-keyframes flipInX { 0% {
	-webkit-transform: perspective(400px) rotateX(90deg);
	transform: perspective(400px) rotateX(90deg);
	opacity: 0;
}

40%
{
-webkit-transform
:
 
perspective
(400px)
 
rotateX
(-10deg);

    
transform
:
 
perspective
(400px)
 
rotateX
(-10deg);

  
}
70%
{
-webkit-transform
:
 
perspective
(400px)
 
rotateX
(10deg);

    
transform
:
 
perspective
(400px)
 
rotateX
(10deg);

  
}
100%
{
-webkit-transform
:
 
perspective
(400px)
 
rotateX
(0deg);

    
transform
:
 
perspective
(400px)
 
rotateX
(0deg);

    
opacity
:
 
1;
}
}
@
keyframes flipInX { 0% {
	-webkit-transform: perspective(400px) rotateX(90deg);
	-ms-transform: perspective(400px) rotateX(90deg);
	transform: perspective(400px) rotateX(90deg);
	opacity: 0;
}

40%
{
-webkit-transform
:
 
perspective
(400px)
 
rotateX
(-10deg);

    
-ms-transform
:
 
perspective
(400px)
 
rotateX
(-10deg);

    
transform
:
 
perspective
(400px)
 
rotateX
(-10deg);

  
}
70%
{
-webkit-transform
:
 
perspective
(400px)
 
rotateX
(10deg);

    
-ms-transform
:
 
perspective
(400px)
 
rotateX
(10deg);

    
transform
:
 
perspective
(400px)
 
rotateX
(10deg);

  
}
100%
{
-webkit-transform
:
 
perspective
(400px)
 
rotateX
(0deg);

    
-ms-transform
:
 
perspective
(400px)
 
rotateX
(0deg);

    
transform
:
 
perspective
(400px)
 
rotateX
(0deg);

    
opacity
:
 
1;
}
}
.flipInX {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
}

#dialogBg {
	width: 100%;
	height: 100%;
	background-color: #000000; filter : alpha( opacity = 60);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	opacity: .6;
	filter: alpha(opacity = 60);
}

#dialog {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	display: none;
	background-color: #37253A;
    position : fixed;
	top: 30%;
	left: 46%; margin : -120px 0 0 -150px;
	z-index: 10000;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: -120px 0 0 -150px;
	position: fixed;
}

.dialogTop {
	width: 90%;
	margin: 0 auto;
	color: #ffffff;
	letter-spacing: 1px;
	padding: 10px 0;
	text-align: right;
	padding: 10px 0;
	text-align: right;
}
#user-label2 {
    position: relative;
    left:55px;
}

#user-label2 .fa-user {
    color: #666;
    top: 23px;
    left: 5px;
    position: absolute;
}
#user-label2 .fa-lock {
    color: #666;
    top: 23px;
    left: 5px;
    position: absolute;
}

   